@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

/* header */
nav{
    background-color: rgb(245, 244, 244);   
    padding-top: 20px;
}
.nav1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 50px;
}
nav ul, ol{
    list-style: none;
    flex-wrap: wrap;
    padding: 0%;
    color: gray;
    display: flex;
}
nav ul li{
    margin: 0px 20px;
}
nav ol li{
    margin: 0px 9px;
}
nav ul li a, ol li a{
    text-decoration: none;
    color: gray;
}
nav ul li a i{
    color: red;
}
.nav2{
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
}
.nav2 div ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.nav2 div ul li{
    margin: 0px 20px;
}
.nav2 div ul li a{
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
.bg_title{
    text-align: center;
    background-color: rgb(221, 221, 221);
    padding: 130px 0px;
}
.project_inner{
    padding: 100px 0px;
}
.titles{
    text-align: center;
}
.project_body{
    padding: 0px 60px;
}
.project_nav ul{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0%;
    margin-bottom: 45px;
}
.project_nav ul li a{
    text-decoration: none;
    color: black;
}
.project_nav ul li{
    margin-right: 40px;
    font-weight: 600;
}
.titles h1{
    font-size: 33px;
    font-weight: 700;
    margin: 0%;
}
.project_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project_img div{
    width: 800px;
    height: 500px;
    margin: 0px 30px 30px 0px;
}
.project_img .pic1{
    background: url("../sources/img/project/1.jpg") center / cover;
    width: 500px;
}
.project_img .pic2{
    background: url("../sources/img/project/2.jpg") center / cover;
    width: 500px;
}
.project_img .pic3{
    background: url("../sources/img/project/3.jpg") center / cover;
    width: 500px;
}
.project_img .pic4{
    background: url("../sources/img/project/4.jpg") center / cover;
    width: 500px;
}
.spec_hr{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
.spec_hr .hr{
    width: 35px;
    background-color: red;
    border: 1px solid red;
}
.spec_hr .cen_hr{
    width: 15px;
    border: 4px solid red;
}
.about_inner{
    height: auto;
    padding: 100px 0px  ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.about_inner .rt_side{
    width: 400px;
}
.about_inner .rt_side h1{
    margin: 8px 0px;
    font-size: 35px;
}
.gray_p{
    color: gray; 
    line-height: 33px;
    margin-bottom: 40px;
}
.about_inner .rt_side a{
    padding: 10px 30px;
    background-color: red;
    cursor: pointer;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}
.customer_inner{
    background-color: rgb(218, 218, 218);
}
.chief{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
}
.chief div img{
    border-radius: 50%;
    border: 2px solid whitesmoke;
}

/* footer */
footer{
    background-color: rgb(22, 22, 22);
}
.footer_inner div h1{
    color: #eee;
}
.footer_inner{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 40px;
    justify-content: space-between;
}
.footer_inner div hr{
    color: lightgray;
}
.ul_inner{
    display: flex;
}
.ul_inner div ul{
    list-style: none;
    list-style: none;
    padding: 0%;
}
.ul_inner div ul li a{
    text-decoration: none;
    color: rgb(143, 143, 143);
}
.ul_inner div ul li{
    margin: 0px 20px 20px 0px;
    color: rgb(143, 143, 143);
}
.ul_inner div ul li a:hover{
    color: #fff;
}
.footer_inner hr{
    border-color: rgb(143, 143, 143);
    margin: 30px 0px;
}
.footer_inner h3{
    color: #fff;
}
.sub_inner input{
    padding: 10px 10px;
    border: none;
    outline: none;
    background-color: rgb(32, 32, 32);
    color: rgb(143, 143, 143);
}
.sub_inner button{
    background-color: red;
    color: #fff;
    padding: 10px 10px;
    border: none;
    outline: none;
}
.sub_inner{
    width: 550px;
}
.sub_inner p{
    margin: 20px 0px;
    color: rgb(143, 143, 143);
}
.sub_inner p a{
    color: red;
}
footer .end{
    background-color: #000;
    padding: 50px;
    text-align: center;
    color: #fff;
}